@import './component/header.css';
@import './component/footer.css';
@import './component/project-list.css'; 
@import './component/not-found-page.css'; 
@import './component/about-us.css';
@import './component/contact.css';
@import './component/project-preview.css';

@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.cdnfonts.com/css/utm-avo');

* {
  font-family: "UTM Avo", sans-serif;
}
body {
  height: fit-content;
}
::-webkit-scrollbar {
  display: none;
}