
.about-us{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: 74.5vh;
}

.about-us-img{ 
    width: 100%;
}
.about-us-content-container img{
    height: 55vh;
    object-fit: cover;
    object-position: right 80%;

}
.about-us-content{
    padding: 20px 20px 0;
    margin: 0;
}
.about-us-decription p{
    padding: 0;
    margin: 0;
    text-align: left;
    color:rgb(123, 123, 123)
}
.about-us-headline{
    padding-top: 20px;
}
@media only screen and (min-width: 768px){
    .about-us-header h1{
        font-weight: lighter;
        font-size: 70px;
    }
   
    .about-us-decription p:first-child{
        margin-right: 20px;
    }
    .about-us-content{
        padding: 30px 20px 0;
        margin: 0;
    }
    .about-us-headline{
        font-size: 20px;
        font-weight: semi-bold;
    }
}