
.contact{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    height: 77.5vh;
    overflow-y: scroll;
    /* background-image: url("../assets/about-us.jpg"); */
}

.container-map{
    height: 70vh;
}
.contact-content{
    background-color: rgb(168, 168, 168);
    color: white;
}

@media only screen and (min-width: 768px){
   
}