
.header{
  background: white;
  z-index: 100;
}
.navbar{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.navbar .navbar-brand img{
  width: 90px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 16x;
  margin-left: 10px;
}
.navbar-nav{
  flex: 1 1 auto;
}
.fa-bars {
  color: gray;
  font-size: 30px;
}
.project-link{
  margin-right: 4px;
}
.sub-nav{
  transform-origin: top;
  transition: all 0.6s ease;
  z-index: 10;
  padding: 0 200px;
}
.sub-nav .nav-link{
  font-size: 16px;
  color: gray;
}
.sub-nav .nav-link:hover{
  color: black;
}
.sub-nav .list-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  list-style-type: none;
}
.sub-nav .list-group li{
  padding: 15px;
}
.sub-nav-mobile{
  display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-collapse{
        background-color: light-gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
}
  
@media only screen and (max-width: 993px){
  .sub-nav-mobile{
    display: block;
  }
 
  .sub-nav .list-group{
    flex-direction: column;
    gap: 0px;
  }
  .sub-nav a.nav-link{
    text-indent: 60px;
  }
}
@media only screen and (min-width: 992px){
  .header{
    height: 10vh;
  }
}